.site__content {
  padding-block-start: var(--wp--preset--spacing--40, 1em);
}

.site__primary {
  margin-block-start: var(--wp--preset--spacing--40, 1em);
}

section.wp-site-blocks {
  display: flow-root;
  padding-top: 1.6667em;
  padding-bottom: 2.7778em;
}

section .notfound-section {
  display: flex;
  flex-direction: column;
  gap: var(--wp--preset--spacing--30, 0.71875em);
  margin-block-start: 0;
  padding-right: 3.75vw;
  padding-left: 3.75vw;
  margin-block-end: 0;
}
section .notfound-section h1 {
  max-width: var(--wp--style--global--content-size);
  margin-left: auto;
  margin-right: auto;
  font-family: var(--wp--preset--font-family--secondary);
  font-size: var(--wp--preset--font-size--lg-title);
  font-weight: 300;
  margin-block-start: 0;
  margin-block-end: 0;
  text-align: center;
}
section .notfound-section form label {
  display: none;
}
section .notfound-section form .wp-block-search__inside-wrapper {
  margin-block-start: 0.75em;
  max-inline-size: var(--wp--custom--mid-size, 38rem);
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: var(--wp--preset--spacing--30, 0.71875em);
  margin-left: auto;
  margin-right: auto;
}
section .notfound-section form .wp-block-search__inside-wrapper input {
  font-weight: 600;
  font-size: var(--wp--preset--font-size--lg-text);
  font-family: var(--wp--preset--font-family--secondary);
  padding: var(--wp--preset--spacing--30, 0.71875em);
  border-radius: var(--wp--preset--spacing--20, 0.359375em);
  border-width: 2px;
  border-color: #e5e5e5;
  flex-grow: 1;
}
section .notfound-section form .wp-block-search__inside-wrapper button {
  flex-basis: 6.5em;
  font-weight: 600;
  font-size: var(--wp--preset--font-size--lg-text);
  font-family: var(--wp--preset--font-family--secondary);
  padding: var(--wp--preset--spacing--30, 0.71875em);
  border-radius: var(--wp--preset--spacing--20, 0.359375em);
  border-width: 2px;
  margin: 0px;
}