.site__content {
  padding-block-start: var(--wp--preset--spacing--40, 1em);
}

.site__primary {
  margin-block-start: var(--wp--preset--spacing--40, 1em);
}

article.wp-site-blocks {
  display: flow-root;
  padding-top: 1.6667em;
  padding-bottom: 1.6667em;
}

.article-list-view section {
  padding-right: var(--wp--style--root--padding-right);
  padding-left: var(--wp--style--root--padding-left);
  margin-block-start: 0;
  margin-block-end: 0;
}
.article-list-view section h1 {
  max-width: var(--wp--style--global--content-size);
  margin-left: auto;
  margin-right: auto;
  color: var(--primary);
  font-size: var(--wp--preset--font-size--lg-title);
  text-align: center;
  font-weight: 300;
  font-family: var(--wp--preset--font-family--secondary);
  margin-block-start: 0;
  margin-block-end: 0;
}
.article-list-view section .wp-block-term-description {
  max-width: var(--wp--style--global--content-size);
  margin-left: auto !important;
  margin-right: auto !important;
  margin-block-start: 1.4444em;
  margin-block-end: 0;
  text-align: center;
}
.article-list-view section .wp-block-term-description p {
  margin-block-start: 0;
  margin-block-end: 0;
}