.site__content {
  padding-block-start: var(--wp--preset--spacing--40, 1em);
}

.site__primary {
  margin-block-start: var(--wp--preset--spacing--40, 1em);
}

article.wp-site-blocks {
  display: flow-root;
  padding-top: 1.6667em;
  padding-bottom: 1.6667em;
}

.article-list-view section {
  padding-right: 3.75vw;
  padding-left: 3.75vw;
  margin-block-start: 0;
  margin-block-end: 0;
}
.article-list-view section h1 {
  max-width: var(--wp--style--global--content-size);
  margin-left: auto;
  margin-right: auto;
  color: var(--primary);
  font-size: var(--wp--preset--font-size--lg-title);
  text-align: center;
  font-weight: 300;
  font-family: var(--wp--preset--font-family--secondary);
  margin-block-start: 0;
  margin-block-end: 0;
}
.article-list-view section .wp-block-term-description, .article-list-view section .wp-block-post-author-biography {
  max-width: var(--wp--style--global--content-size);
  margin-left: auto;
  margin-right: auto;
  margin-block-start: 1.4444em;
  margin-block-end: 0;
  text-align: center;
}
.article-list-view section .wp-block-term-description p, .article-list-view section .wp-block-post-author-biography p {
  margin-block-start: 0;
  margin-block-end: 0;
}

.archive__content {
  padding-right: 3.75vw;
  padding-left: 3.75vw;
  margin-block-start: 1.4444em;
  margin-block-end: 0;
}
.archive__content ul {
  max-inline-size: var(--wp--custom--mid-size, 38rem);
  margin-left: auto;
  margin-right: auto;
  margin-block-start: 0;
  margin-block-end: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  gap: var(--wp--preset--spacing--70, 2.5em);
  padding: 0px;
}
.archive__content ul li {
  display: flex;
  column-gap: var(--wp--preset--spacing--40, 1em);
  row-gap: var(--wp--preset--spacing--20, 0.359375em);
  flex-wrap: wrap;
}
.archive__content ul li figure {
  flex-basis: 11em;
  flex-shrink: 0;
  flex-grow: 1;
  max-inline-size: 100%;
  margin: 0px;
}
.archive__content ul li .archive__title {
  display: flex;
  flex-direction: column;
  flex-basis: 11em;
  gap: var(--wp--preset--spacing--20, 0.359375em);
  padding-block: var(--wp--preset--spacing--20, 0.359375em);
  flex-shrink: 0;
  flex-grow: 1;
  max-inline-size: 100%;
}
.archive__content ul li .archive__title h2 {
  font-size: var(--wp--preset--font-size--lg-text);
  margin-block-start: 0;
  margin-block-end: 0;
}
.archive__content ul li .archive__title h2 a {
  color: var(--color-text-contrast-high);
}
.archive__content ul li .archive__title h2 a:hover {
  text-decoration: underline;
}
.archive__content ul li .archive__title .wp-block-post-author {
  display: flex;
  align-items: center;
  gap: 0.5em;
  margin-top: 0.5em;
  font-size: var(--wp--preset--font-size--xs-text);
}
.archive__content ul li .archive__title .wp-block-post-author .wp-block-post-author__avatar {
  line-height: 1;
}
.archive__content ul li .archive__title .wp-block-post-author img {
  inline-size: 2em;
  block-size: 2em;
  object-fit: cover;
  border-radius: 50%;
  object-position: center center;
}
.archive__content ul li .archive__title .wp-block-post-author p {
  font-family: var(--wp--preset--font-family--secondary);
  font-weight: 600;
  margin-block-start: 0;
  margin-block-end: 0;
}
.archive__content ul li .archive__title .wp-block-post-author a {
  color: var(--color-text-contrast-high);
}
.archive__content ul li .archive__title .wp-block-post-author a:hover {
  text-decoration: underline;
}
.archive__content ul li:first-of-type figure, .archive__content ul li:first-of-type .archive__title {
  flex-basis: 15em;
}

/*Pagination*/
.main-pagination {
  padding-right: 3.75vw;
  padding-left: 3.75vw;
  margin-block-start: 1.4444em;
  margin-block-end: 0;
}
.main-pagination .pagination-container {
  max-inline-size: var(--wp--custom--mid-size, 38rem);
  margin-left: auto;
  margin-right: auto;
  margin-block-start: 0;
  margin-block-end: 0;
}
.main-pagination .pagination-container nav {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  row-gap: 0.5em;
  column-gap: 0;
  padding: 0.5em;
  border: 2px solid #E5E5E5;
  border-radius: 0.5em;
  text-align: center;
  color: var(--primary);
}
.main-pagination .pagination-container nav > a {
  display: inline-block;
  padding: 0.375em;
  min-inline-size: 2.25em;
  flex-shrink: 0;
  border-radius: 0.5em;
  padding-inline: 1em;
  margin: 0;
  color: var(--color-background);
  background-color: var(--primary);
}
.main-pagination .pagination-container nav > a .is-arrow-arrow {
  display: none;
}
.main-pagination .pagination-container nav .wp-block-query-pagination-numbers > * {
  display: inline-block;
  padding: 0.375em;
  min-inline-size: 2.25em;
  flex-shrink: 0;
  border-radius: 0.5em;
}
.main-pagination .pagination-container nav .wp-block-query-pagination-numbers span {
  color: var(--color-background);
  background-color: var(--primary);
}
.main-pagination .pagination-container nav .wp-block-query-pagination-numbers a {
  color: currentColor;
}
.main-pagination .pagination-container nav .wp-block-query-pagination-numbers a:hover {
  text-decoration: underline;
}

/*Pagination*/
main[style], div[style] {
  margin: 0px !important;
  padding: 0px !important;
}

main[style] > div > h1 {
  display: none;
}

.article-list-view .author-details {
  margin-block-start: 1.4444em;
}
.article-list-view .author-details:first-child {
  margin-block-start: 0px;
}
.article-list-view .author-details h1,
.article-list-view .author-details h2 {
  max-width: var(--wp--style--global--wide-size);
  font-family: var(--wp--preset--font-family--secondary);
  margin-left: auto;
  margin-right: auto;
  margin-block-start: 0;
  margin-block-end: 0;
  color: var(--color-text);
  text-align: center;
}
.article-list-view .author-details h1 {
  font-weight: 300;
  line-height: 1.1555555556;
  font-size: var(--wp--preset--font-size--lg-title);
}
.article-list-view .author-details h2 {
  font-weight: 400;
  font-size: var(--wp--preset--font-size--md-title);
}
.article-list-view .author-details h2 span {
  display: block;
}
.article-list-view section .wp-block-avatar {
  max-inline-size: 9.5em;
  margin-left: auto;
  margin-right: auto;
}
.article-list-view section .wp-block-avatar img {
  height: auto;
  max-width: 100%;
  vertical-align: bottom;
  aspect-ratio: 1/1;
  object-fit: cover;
  border-radius: 9999px;
}