.site__content {
  padding-block-start: var(--wp--preset--spacing--40, 1em);
  margin-block-start: var(--wp--preset--spacing--40, 1em);

  .post-details-view {
    padding: 1.6667em 0;

    section {
      padding-right: 3.75vw;
      padding-left: 3.75vw;
    }

    .is-layout-constrained > .alignwide {
      max-width: var(--wp--style--global--wide-size);
      margin-left: auto;
      margin-right: auto;
    }
  }
}

.entry__image {
  margin-block-start: 0;
  margin-block-end: 0;
  position: relative;

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    max-inline-size: 100%;
    block-size: auto;
  }
}

.entry__header {
  max-inline-size: var(--wp--custom--mid-size, 38rem);
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: column;
  gap: var(--wp--preset--spacing--30, 0.71875em);
  margin-block-start: 1.4444em;

  h1 {
    text-wrap: pretty;
    margin-block-start: 0;
    margin-block-end: 0;
    line-height: calc(52 / 45);
    font-weight: 500;
    text-align: center;
  }
}

h1 {
  font-size: var(--wp--preset--font-size--lg-heading);
}

.entry__bylines {
  list-style: none;
  padding-inline-start: 0;
  display: flex;
  flex-wrap: wrap;
  gap: var(--wp--preset--spacing--40, 1em);
  justify-content: center;

  p {
    white-space: nowrap;
    display: inline-flex;
    align-items: center;
    column-gap: var(--wp--preset--spacing--20, calc(1.4375em / 4));
    font-weight: 500;
    font-family: var(--wp--preset--font-family--secondary);
    font-size: var(--wp--preset--font-size--xs-text);
    margin: 0;
  }

  .taxonomy-category {
    display: flex;
    flex-wrap: wrap;
    align-items: center;

    &:before {
      content: url("data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%2024%2024%22%3E%3Cpath%20d%3D%22M17.63%205.84C17.27%205.33%2016.67%205%2016%205L5%205.01C3.9%205.01%203%205.9%203%207v10c0%201.1.9%201.99%202%201.99L16%2019c.67%200%201.27-.33%201.63-.84L22%2012l-4.37-6.16zM16%2017H5V7h11l3.55%205L16%2017z%22%20fill%3D%22%23666666%22%3E%3C%2Fpath%3E%3C%2Fsvg%3E");
      display: inline-block;
      height: 1em;
      width: 1em;
      margin-inline-end: 0.3em;
    }

    a {
      color: var(--gray);
      font-size: var(--wp--preset--font-size--xs-text);
      font-style: italic;

      &:hover {
        text-decoration: underline;
      }
    }
  }
}

.entry__author {
  .wp-block-post-author {
    display: flex;
    align-items: center;
    gap: 0.5em;
    margin-top: 0.5em;
    font-size: var(--wp--preset--font-size--xs-text);
    justify-content: center;

    img {
      inline-size: 2em;
      block-size: 2em;
      object-fit: cover;
      border-radius: 50%;
      object-position: center center;
    }

    .wp-block-post-author__name {
      font-family: var(--wp--preset--font-family--secondary);
      font-weight: 600;
      margin-block-start: 0;
      margin-block-end: 0;

      a {
        color: currentColor;

        &:hover {
          text-decoration: underline;
        }
      }
    }
  }
}


.post-details-content-view {
  padding-right: 3.75vw;
  padding-left: 3.75vw;
  margin-block-start: 1.4444em;
  margin-block-end: 0;
}


.entry-content .custom-toc {
  max-width: var(--wp--style--global--content-size);
  margin-left: auto;
  margin-right: auto;
  font-family: var(--wp--preset--font-family--secondary);
  text-align: center;
  margin-block-start: 0;

  &::before,
  &::after {
    content: "";
    -webkit-mask-image: url("http://localhost/wp-staging/wp-content/uploads/2025/07/cw-svg-mask-squiggle.png");
    mask-image: url("http://localhost/wp-staging/wp-content/uploads/2025/07/cw-svg-mask-squiggle.png");
    inline-size: 1em;
    aspect-ratio: 21 / 5;
    background-color: currentColor;
    display: inline-block;
    block-size: auto;
    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;
    -webkit-mask-size: contain;
    mask-size: contain;
    -webkit-mask-position: center;
    mask-position: center;
  }

  h3 {
    font-weight: 700;
    margin-block: var(--wp--preset--spacing--30);
    font-family: var(--wp--preset--font-family--secondary);
    text-align: center;
    font-size: var(--wp--custom--font-scale);
  }

  ul {
    padding-inline-start: 0;
    list-style: none;
    margin-block: var(--wp--preset--spacing--30);

    li + li {
      margin-block-start: calc(var(--wp--style--block-gap, 1.5em) / 3);
    }

    a {
      text-decoration: underline;
      text-decoration-color: rgba(0, 6, 255, 0.3);
      color: var(--primary);

      &:hover {
        text-decoration-color: currentColor;
        text-decoration: underline;
      }
    }
  }
}

.entry-content {
  > *:not(.custom-toc) {
    max-width: var(--wp--style--global--content-size);
    margin-left: auto;
    margin-right: auto;
    margin-block-start: 1.4444em;
    margin-block-end: 0;
  }

  h2 {
    margin-block-start: 1.4444em;
    margin-block-end: 0;
    font-size: var(--wp--preset--font-size--md-heading);
  }

  a {
    text-decoration: underline;
    color: currentColor;
    text-decoration-color: rgba(var(--color-text-decoration-rgb, 0, 0, 0), 0.3);

    &:hover {
      text-decoration-color: currentColor;
    }
  }
}




.entry__footer {
  margin-top: var(--wp--preset--spacing--70, 2.5em);
  margin-block-end: 0;
  padding-right: 3.75vw;
  padding-left: 3.75vw;
}

.post-details-author-details {
  max-width: var(--wp--style--global--content-size);
  margin-left: auto;
  margin-right: auto;
  font-family: var(--wp--preset--font-family--secondary);

  h2 {
    font-size: var(--wp--preset--font-size--md-text);
    margin-block-start: 0;
    margin-block-end: 0;
    font-weight: 700;
    text-transform: uppercase;
  }

  .wp-block-post-author {
    margin-block-start: var(--wp--preset--spacing--20, calc(1.4375em / 4));
  }

  .wp-block-post-author__avatar {
    img {
      display: block;
      inline-size: 9.75em;
      block-size: 9.75em;
      border-radius: 50%;
      object-fit: cover;
      object-position: center center;
    }
  }

  .wp-block-post-author__content {
    .wp-block-post-author__name {
      font-size: var(--wp--preset--font-size--lg-heading);
      margin-block-start: 0;
      margin-block-end: 0;
      font-weight: 500;

      a {
        color: var(--primary);
        text-decoration: none;

        &:hover {
          text-decoration: underline;
        }
      }
    }

    .wp-block-post-author__bio {
      font-size: var(--wp--preset--font-size--lg-text);
      line-height: calc(4 / 3);
      font-style: italic;
      margin-block-start: 0;
      margin-block-end: 0;
    }
  }
}

.author-social-links {
  display: flex;
  margin-block-start: var(--wp--preset--spacing--30, .71875em);
  margin-block-end: 0;
  justify-content: flex-start;
  font-size: 24px;
  flex-wrap: nowrap;
  gap: var(--wp--preset--spacing--20) var(--wp--preset--spacing--20);
  align-items: center;
  padding-left: 0;
  padding-right: 0;

  li {
    display: inline-block;
    margin: 0;
    padding: 0;
    color: var(--wp--preset--color--high-contrast);
    line-height: 0;

    a {
      display: block;

      svg.tiktok {
        padding: 8.333%;
      }
    }

    &:hover {
      transform: scale(1.1);
    }
  }
}

main {
  .alignwide {
    max-width: var(--wp--style--global--wide-size);
    margin-left: auto;
    margin-right: auto;
    margin-block-start: 1.4444em;
  }
}

.celestial-books {
  .grid-column-3 {
    display: grid;
    gap: max(var(--wp--style--block-gap, 1.5em), 1.5em);
    grid-template-columns: repeat(auto-fill, minmax(14em, 1fr));
  }

  article {
    padding: 0;

    figure {
      margin: 0;

      img {
        width: 100%;
      }
    }

    h3 {
      margin: 0;
      margin-block-start: calc(1.4444em / 2);
      font-size: var(--wp--preset--font-size--lg-text);
      font-weight: 400;
      text-align: center;

      a {
        color: currentColor;

        &:hover {
          text-decoration: underline;
        }
      }
    }
  }
}

.article-big-heading {
  font-family: var(--wp--preset--font-family--secondary);
  font-style: normal;
  font-weight: 300;
  color: var(--primary);
  max-width: var(--wp--style--global--content-size);
  margin-left: auto;
  margin-right: auto;
  margin-block-start: 1.4444em;
  margin-block-end: 0;
  text-align: center;
  font-size: var(--wp--preset--font-size--lg-title);
}

.article-big-heading2 {
  max-width: var(--wp--style--global--wide-size);
}


.inner-current-date-main {
  padding: 1.6667em 3.75vw;
}

.current-date-main {
  max-width: var(--wp--style--global--wide-size);
  margin-left: auto;
  margin-right: auto;
  margin-top: var(--wp--preset--spacing--30);
  margin-block-end: 0;
  display: flex;
  gap: var(--wp--preset--spacing--40);
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;

  > * {
    flex-basis: 14em;
  }

  .current-date {
    flex-grow: 1;

    .stagingworld-moon-phase {
      max-width: var(--wp--style--global--content-size);
      margin-left: auto;
      margin-right: auto;
      display: flex;
      flex-direction: column;
      gap: 0.25em;
      width: -moz-fit-content;
      width: fit-content;

      p {
        align-self: start;
        font-family: var(--wp--preset--font-family--secondary);
        font-size: var(--wp--preset--font-size--xs-text);
        color: var(--primary);
        font-weight: 500;
        margin-block-start: 0;
        margin-block-end: 0;
      }

      h2 {
        font-size: var(--wp--preset--font-size--lg-text);
        font-weight: 400;
        font-family: var(--wp--preset--font-family--secondary);
        flex-basis: 100%;
        text-align: center;
        margin-block-start: 0;
        margin-block-end: 0;
      }
      .align-right p{
        text-align: right;
        color: var(--color-text-contrast-high);
      }
    }
  }

  .current-date-category-list {
    flex-grow: 1;
    gap: var(--wp--preset--spacing--40);
    ul{ 
      list-style:none;
      padding:0px;
      margin:0px;
      h5{ 
        font-family: var(--wp--preset--font-family--secondary);
        margin-block-start: 0;
        margin-block-end: 0;
        font-style: normal;
        font-weight: 500;
        text-wrap: nowrap;
        text-align: center;
        a{
          font-size: var(--wp--custom--font-scale);
          color: var(--primary);
        }
      }
    }
  }
}

.inner-current-date-main .tag-daily-horoscope a:before{ content:"✨ ";  }
.inner-current-date-main .tag-daily-horoscope a:after{ content:" ✨";  }
.inner-current-date-main .tag-tarotscope a:before{ content:"🌙 "; }
.inner-current-date-main .tag-tarotscope a:after{ content:" 🌙";  }


/*world-card-deck*/
.world-card-deck {
  
  h2 {
    max-width: var(--wp--style--global--content-size);
    margin-left: auto;
    margin-right: auto;
    font-family: var(--wp--preset--font-family--secondary);
    font-size: var(--wp--preset--font-size--lg-heading);
    color: var(--primary);
    margin-block-start: 1.4444em;
    margin-block-end: 0;
    text-align: center;
  }

  figure {
    max-width: var(--wp--style--global--content-size);
    margin-left: auto;
    margin-right: auto;
    margin-block-start: 1.4444em;
    margin-block-end: 0;

    img {
      display: block;
      height: auto;
      width: 100%;
    }
  }

  p {
    max-width: var(--wp--style--global--content-size);
    margin-left: auto !important;
    margin-right: auto !important;
    margin-block-start: 1.4444em;
    margin-block-end: 0;

    strong {
      font-weight: bolder;
    }

    a {
      text-decoration: underline;
      color: currentColor;
      text-decoration-color: rgba(var(--color-text-decoration-rgb, 0, 0, 0), 0.3);

      &:hover {
        text-decoration-color: currentColor;
      }
    }
  }

  &-btn {
    max-width: var(--wp--style--global--content-size);
    margin-left: auto;
    margin-right: auto;
    margin-block-start: 1.4444em;
    margin-block-end: 0;

    > div {
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      gap: 1.4444em;
    }

    .wp-block-button {
      display: inline-block;
      margin: 0;

      a {
        background-color: #32373c;
        border-radius: 999px;
        border: 0.125em solid transparent;
        color: #fff;
        padding: var(--wp--preset--spacing--20, 0.375em) 1.44em;
        cursor: pointer;
        display: inline-block;
        text-align: center;
        word-break: break-word;
      }

      &.dark-btn a {
        background-color: var(--color-text-contrast-high);
      }

      &.primary-btn a {
        background-color: var(--primary);
      }
    }
  }
}
/*world-card-deck*/