:root {
  --primary: #0006FF;
  --border-color: #efefef;
  --black: #000;
  --white: #fff;
}
a {
  text-decoration: none;
}
body {
  padding: 0px;
  margin: 0px;
  font-family: sans-serif;
}
.is-layout-constrained {
  > .alignwide{
    padding: 1em 2.5vw 0;
    margin: 0 auto;
  }
}



.is-layout-grid{ display:grid; }

.columns-3{ grid-template-columns: repeat(3, minmax(0, 1fr)); gap: 30px;}

@media (max-width: 767px) {
  .columns-3 {
    grid-template-columns: repeat(1, minmax(0, 1fr));
    gap: 30px;
  }
}