header {
  position: relative;
  z-index: 1;

  .brand {
    display: flex;
    justify-content: space-between;
    align-items: center;
    inline-size: 100%;
    padding-block-start: var(--wp--preset--spacing--40, 1em);
    padding-inline: max(
      var(--wp--preset--spacing--30, 0.75em),
      calc(var(--wp--custom--root-padding, 3.75vw) / 2)
    );
  }

  .wp-block-site-title {
    margin: 0;

    a {
      text-decoration: none;
      color: var(--primary);
      width: 148.5px;
      font-weight: 600;
      font-style: normal;
      letter-spacing: -0.5px;
      line-height: 34px;
    }
  }

  nav {
    button {
          line-height: inherit;
    font-size: inherit;
      font-family: Arial, sans-serif;
      text-transform: uppercase;
      color: var(--primary);
      font-weight: bold;
      background-color: transparent;
      border: none;
      cursor: pointer;
      padding: 0px;
      margin: 0px;
      &:hover {
        text-decoration: underline;
      }

      svg {
        width: 40px;
        height: 40px;
      }
    }

    ul {
      list-style: none;
      padding: 0;
      margin: 0;
      display: flex;
      gap: 10px;

      li {
        padding: 0rem;

        a {
          font-size: inherit;
          line-height: inherit;
          font-family: Arial, sans-serif;
          text-transform: uppercase;
          color: var(--primary);
          font-weight: bold;

          &:hover {
            text-decoration: underline;
          }
        }
      }
    }

    .wp-block-navigation__responsive-container {
      position: fixed;
      top: 0;
      right: 0;
      height: 100%;
      margin-inline-start: auto;
      background-color: var(--white);
      padding: 22px 16px;
      max-inline-size: 100%;
      inline-size: 600px;
      overflow: auto;
      display: none;
      animation: fade-in 0.4s 0.2s both, slide-in 0.4s 0.2s both;
      overscroll-behavior-block: contain;
      z-index: 999;

      ul {
        flex-wrap: wrap;
        text-align: center;
        gap: 0;

        li {
          flex: 0 0 100%;
          font-size: var(--wp--preset--font-size--sm-heading);
          padding: 0;

          a {
            font-size: var(--wp--preset--font-size--sm-heading);
            color: var(--color-text-contrast-high);
            text-transform: capitalize;
            font-family: var(--wp--preset--font-family--primary);
            font-weight: 400;
          }
        }
      }

      button {
        width: 100%;
        display: flex;
        justify-content: flex-end;
      }
    }
  }

  .wp-block-navigation__responsive-dialog {
    button {
      font-size: 0;
      &:hover{
        text-decoration: none;
        color: var(--color-text-contrast-high);
      }
      &:after {
        content: "✕";
        font-size: 43px;
      }
    }
  }
}

.has-modal-open {
  header {
    nav {
      .wp-block-navigation__responsive-container {
        display: block;
      }
    }

    &:before {
      content: "";
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: var(--color-text);
      opacity: 0.35;
      animation: fade-in 0.2s both;
      z-index: 99;
      display: block;
    }
  }
}

.wp-site-blocks > div.is-layout-constrained {
  z-index: 999;
  background-color: var(--white);
}

/*// Brand styles*/
.brand__name,
.brand__menu {
  flex-grow: 1;
  flex-shrink: 0;
  flex-basis: 0;
}

.brand__name {
  font-size: 1.5em;
  color: var(--primary);
  a{
    display: none;
  }
}

.brand__logo {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: 10%;

  img {
    display: block;
    margin: auto;
    max-inline-size: 3.25em;
  }
}

.brand__menu {
  font-size: var(--wp--preset--font-size--xxs-text);
  display: flex;
  gap: var(--wp--preset--spacing--40, 1em);
  justify-content: flex-end;
  align-items: center;
  color: var(--primary);
  font-family: var(--wp--preset--font-family--secondary);
  font-weight: 700;
}

/*// Keyframe animations*/
@keyframes fade-in {
  0% {
    opacity: 0;
  }
}

@keyframes slide-in {
  0% {
    transform: translate(var(--dialog-slide-in, 0));
  }
}

.header__search {
  position: absolute;
  left: 0;
  width: 100%;
  padding-block: var(--wp--preset--spacing--40, 1em);
  padding-inline: inherit;
  background-color: var(--color-background);
  border: none;
  border-bottom: 2px solid #E5E5E5;
  z-index: 2;
  display: none;

  &.show-search {
    display: block;
  }

  > div {
    padding-right: 3.75vw;
    padding-left: 3.75vw;
  }

  form {
    max-width: var(--wp--style--global--content-size);
    margin-left: auto;
    margin-right: auto;

    label {
      display: none;
    }

    .wp-block-search__inside-wrapper {
      display: flex;
    }

    input {
      appearance: none;
      border: 1px solid #949494;
      flex-grow: 1;
      margin-left: 0;
      margin-right: 0;
      min-width: 3rem;
      padding: 8px;
      text-decoration: unset;
      font-size: var(--wp--preset--font-size--sm-text);
      font-family: var(--wp--preset--font-family--secondary);
      text-indent: var(--wp--preset--spacing--20, .375em);
      font-weight: 600;
      font-style: normal;
    }
  }
}


#search-toggle {
  background: transparent;
  color: var(--primary);
  padding: 0;
  margin: 0;
  cursor: pointer;

  .icon-close {
    display: none;
  }

  &.search-open {
    .icon-search {
      display: none;
    }

    .icon-close {
      display: block;
    }
  }
}


@media (min-width: 40em) {
    .brand__name a {
        display: inherit;
    }
}

.toggle_menu {
  display: none;
}

.header__menu {
  position: fixed;
  inset: 0;
  z-index: 5999999;

  &:before {
    content: "";
    width: 100%;
    height: 100%;
    background-color: var(--color-text);
    animation: fade-in 0.2s both;
    opacity: 0.35;
    position: fixed;
    inset: 0;
  }

  .toggle-open-menu {
    background-color: var(--color-background);
    animation: fade-in 0.4s 0.2s both, slide-in 0.4s 0.2s both;
    overscroll-behavior-block: contain;
    margin-inline-start: auto;
    z-index: 2;
    position: relative;
    padding: var(--wp--preset--spacing--40, 1em) var(--wp--preset--spacing--30, 0.71875em);
    max-inline-size: 100%;
    inline-size: 27em;
    overflow: auto;
  }

  header {
    display: grid;
    grid-template-columns: 1fr 25.25vw 1fr;
    align-items: center;

    button {
      --color-button: var(--primary);
      background-color: inherit;
      color: var(--color-button);
      border-color: transparent;
      display: inline-flex;
      align-items: center;
      column-gap: 1ch;
      padding: 0;
      margin-inline-start: auto;
      grid-column-start: 3;
      cursor: pointer;

      svg {
        inline-size: 2.8em;
        block-size: 2.8em;
        fill: currentColor;
      }

      &:hover {
        color: var(--color-text-contrast-high);
      }
    }

    @media (min-width: 40em) {
      .wp-block-site-logo {
        display: none;
      }
    }
  }

  .nav {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    row-gap: var(--wp--preset--spacing--40, 1em);
  }

  nav {
    ul {
      font-size: var(--wp--preset--font-size--sm-heading);
      list-style-type: none;
      margin-block: 0;
      padding-inline-start: 0;
      text-align: center;

      a {
        color: var(--color-text-contrast-high);
        text-decoration: none;

        &:hover {
          text-decoration: underline;
        }
      }
    }
  }

  ul.wp-block-social-links {
    margin-top: var(--wp--preset--spacing--30);
    margin-bottom: var(--wp--preset--spacing--30);
    font-size: 36px;
    list-style-type: none;
    padding-inline-start: 0;
    display: flex;
    flex-wrap: nowrap;
    gap: var(--wp--preset--spacing--20);
    justify-content: flex-start;

    > * {
      line-height: 0;
    }

    li:hover{
      transform: scale(1.1);
    }

    svg {
      height: 1em;
      width: 1em;
    }

    span {
      border: 0;
      clip: rect(1px, 1px, 1px, 1px);
      clip-path: inset(50%);
      height: 1px;
      margin: -1px;
      overflow: hidden;
      position: absolute;
      width: 1px;
      word-wrap: normal !important;
    }

    .tiktok-size {
      svg {
        padding: 8.333%;
      }
    }
  }

  .small-size-menu {
    h2 {
      font-size: var(--wp--preset--font-size--xxs-text);
      text-transform: uppercase;
      margin-block-start: 0;
      margin-block-end: 0;
    }

    nav {
      ul {
        font-size: var(--wp--preset--font-size--lg-text);
      }
    }
  }
}
